In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings

from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv("C:\\CsvFiles\\Training Data.csv")

In [5]:
df.shape

(252000, 13)

In [6]:
df.head()

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [10]:
df["Risk_Flag"].value_counts()

0    221004
1     30996
Name: Risk_Flag, dtype: int64

In [11]:
df = df.drop(columns=["Id"])

In [26]:
df["House_Ownership"].unique()

array(['rented', 'norent_noown', 'owned'], dtype=object)

In [27]:
df["House_Ownership"].replace({"rented":0,"norent_noown":1,"owned":2},inplace=True)

In [29]:
df["Car_Ownership"].replace({"no":0,"yes":1},inplace=True)

In [20]:
x = df["Profession"].value_counts().to_dict()
x

{'Physician': 5957,
 'Statistician': 5806,
 'Web_designer': 5397,
 'Psychologist': 5390,
 'Computer_hardware_engineer': 5372,
 'Drafter': 5359,
 'Magistrate': 5357,
 'Fashion_Designer': 5304,
 'Air_traffic_controller': 5281,
 'Comedian': 5259,
 'Industrial_Engineer': 5250,
 'Mechanical_engineer': 5217,
 'Chemical_engineer': 5205,
 'Technical_writer': 5195,
 'Hotel_Manager': 5178,
 'Financial_Analyst': 5167,
 'Graphic_Designer': 5166,
 'Flight_attendant': 5128,
 'Biomedical_Engineer': 5127,
 'Secretary': 5061,
 'Software_Developer': 5053,
 'Petroleum_Engineer': 5041,
 'Police_officer': 5035,
 'Computer_operator': 4990,
 'Politician': 4944,
 'Microbiologist': 4881,
 'Technician': 4864,
 'Artist': 4861,
 'Lawyer': 4818,
 'Consultant': 4808,
 'Dentist': 4782,
 'Scientist': 4781,
 'Surgeon': 4772,
 'Aviator': 4758,
 'Technology_specialist': 4737,
 'Design_Engineer': 4729,
 'Surveyor': 4714,
 'Geologist': 4672,
 'Analyst': 4668,
 'Army_officer': 4661,
 'Architect': 4657,
 'Chef': 4635,
 'Librarian': 4628,
 'Civil_engineer': 4616,
 'Designer': 4598,
 'Economist': 4573,
 'Firefighter': 4507,
 'Chartered_Accountant': 4493,
 'Civil_servant': 4413,
 'Official': 4087,
 'Engineer': 4048}

In [32]:
for i in df["Profession"]:
    for j in x.items():
        if i==j[0]:
            df["Profession"].replace({i:j[1]},inplace=True)

In [24]:
df["Profession"].head()

0    5217
1    5053
2    5195
3    5053
4    4413
Name: Profession, dtype: int64

In [30]:
df.head()

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1303834,23,3,0,0,0,5217,Rewa,Madhya_Pradesh,3,13,0
1,7574516,40,10,0,0,0,5053,Parbhani,Maharashtra,9,13,0
2,3991815,66,4,1,0,0,5195,Alappuzha,Kerala,4,10,0
3,6256451,41,2,0,0,1,5053,Bhubaneswar,Odisha,2,12,1
4,5768871,47,11,0,0,0,4413,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [31]:
y = df["CITY"].value_counts().to_dict()

In [38]:
for i in df["CITY"]:
    for j in y.items():
        if i==j[0]:
            df["CITY"].replace({i:j[1]},inplace=True)

In [34]:
z = df["STATE"].value_counts().to_dict()

In [39]:
for i in df["STATE"]:
    for j in z.items():
        if i==j[0]:
            df["STATE"].replace({i:j[1]},inplace=True)

In [40]:
df.head()

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1303834,23,3,0,0,0,5217,798,14122,3,13,0
1,7574516,40,10,0,0,0,5053,849,25562,9,13,0
2,3991815,66,4,1,0,0,5195,688,5805,4,10,0
3,6256451,41,2,0,0,1,5053,607,4658,2,12,1
4,5768871,47,11,0,0,0,4413,809,16537,3,14,1

In [41]:
df.isnull().sum()

Income               0
Age                  0
Experience           0
Married/Single       0
House_Ownership      0
Car_Ownership        0
Profession           0
CITY                 0
STATE                0
CURRENT_JOB_YRS      0
CURRENT_HOUSE_YRS    0
Risk_Flag            0
dtype: int64

In [42]:
from sklearn.preprocessing import StandardScaler

In [47]:
x=df.drop(columns=["Risk_Flag"])
y=df["Risk_Flag"]

In [49]:
x_scaled = StandardScaler().fit_transform(x)

In [50]:
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size=0.2,random_state=42)

In [52]:
model=LogisticRegression()

In [53]:
model.fit(x_train,y_train)

LogisticRegression()

In [54]:
x_train_pred = model.predict(x_train)

In [55]:
x_test_pred = model.predict(x_test)

In [56]:
from sklearn.metrics import accuracy_score

In [58]:
accuracy_score(y_train,x_train_pred)

0.8772668650793651

In [59]:
accuracy_score(y_test,x_test_pred)

0.8759325396825397

In [60]:
from sklearn.tree import DecisionTreeClassifier

In [61]:
from imblearn.over_sampling import SMOTE

In [64]:
x_smote,y_smote = SMOTE().fit_resample(x,y)

In [65]:
y_smote.value_counts()

0    221004
1    221004
Name: Risk_Flag, dtype: int64

In [67]:
x_scaled= StandardScaler().fit_transform(x_smote)

In [68]:
x_train1,x_test1,y_train1,y_test1 = train_test_split(x_scaled,y_smote,random_state=42,test_size=0.2)

In [69]:
model1 = LogisticRegression()

In [70]:
model1.fit(x_train1,y_train1)

LogisticRegression()

In [71]:
x_train_pred1 = model1.predict(x_train1)

In [72]:
x_test_pred1 = model1.predict(x_test1)

In [73]:
accuracy_score(y_train1,x_train_pred1)

0.5624395513650786

In [74]:
accuracy_score(y_test1,x_test_pred1)

0.5625551458111807